apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: payment-service
spec:
  selector:
    app: payment-service
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
    - name: management
      port: 8081
      targetPort: 8081