apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: order-service
  labels:
    app: api-gateway
spec:
  selector:
    app: order-service
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
    - name: management
      port: 8081
      targetPort: 8081